<div id="banner_index">
  <h1 class="fw-bolder">Save your movie in <%= @list.name %></h1>
</div>

<div class="bg-new">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-8 bg-white mt-5 py-5 rounded-4">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie,
            label: "Escolha o filme",
            prompt: "Selecione um filme da nossa coleção...",
            input_html: { class: "form-select form-select-lg" } %>
            <%= f.input :comment %>
            <%= f.submit "Save Movie", class: "btn btn-primary" %>
            <%= link_to "Back",  root_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
